@import "bootstrap-sprockets";
@import "bootstrap";

body {
	padding: 0px;
	margin: 0px;

}

header {
	background-image: asset-data-url('cat-bed.jpg'); 
	height: 500px;
	width: auto;
	background-size: cover;
	margin-top: 1px;
	padding: 0px;
	margin-top: -50px;
	
}

.nomsite {
	color: #66a39b;
	font-size: 70px;
	text-align: center;
	padding-top: 17%;
	text-decoration: none;
}

h1 {
	text-align: center;
	color: #66a39b;
	align-items: center;
}

table {
	th {
	color: #EDBB10;
	font-size: 15px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
	}

	td {
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
	}
}

table{
	margin: 50px;
}

.laptitephrase {
	text-align: center;
	font-size: 25px;
	color: #151c1c;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 25px;
}

div {
	display: inline-block;
	color: #EDBB10;
	margin: 15px;
}
