// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
	th {
	color: #EDBB10;
	font-size: 15px;
	}

	padding-left: 150px;
}
																																																																																																																										

a {
	text-decoration:none;
}